.main {
  background-color: #d4d4d4;
}
.main-container {
  display: flex;
  justify-content: center;
  padding: 4em;
}

.about {
  height: 700px;
  width: 65%;
  background-color: orange;
}

.qualification {
  height: 700px;
  width: 35%;
  background-color: red;
}
